app/code/core/Mage/Scoretag/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="scoreOggettoScoretagListEntity">
                <xsd:sequence>
                    <xsd:element name="scoretag_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="scoreOggettoScoretagListEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:scoreOggettoScoretagListEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="scoreOggettoScoretagAddEntity">
                <xsd:sequence>
                    <xsd:element name="scoretag" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="oggetto_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="customer_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="store" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="scoreOggettoScoretagUpdateEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="base_popularity" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="scoreOggettoScoretagInfoEntity">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="base_popularity" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="oggettos" type="typens:associativeArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="scoreOggettoScoretagListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="oggettoId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="store" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="typens:scoreOggettoScoretagListEntityArray" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="scoretagId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="store" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="typens:scoreOggettoScoretagInfoEntity" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagAddRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="data" type="typens:scoreOggettoScoretagAddEntity" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagAddResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="typens:associativeArray" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagUpdateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="scoretagId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="data" type="typens:scoreOggettoScoretagUpdateEntity" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="store" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagUpdateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagRemoveRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="sessionId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                        <xsd:element name="scoretagId" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="scoreOggettoScoretagRemoveResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="scoreOggettoScoretagListRequest">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagListRequestParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagListResponse">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagListResponseParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagInfoRequest">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagInfoResponse">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagAddRequest">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagAddRequestParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagAddResponse">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagAddResponseParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagUpdateRequest">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagUpdateRequestParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagUpdateResponse">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagUpdateResponseParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagRemoveRequest">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagRemoveRequestParam" />
    </wsdl:message>
    <wsdl:message name="scoreOggettoScoretagRemoveResponse">
        <wsdl:part name="parameters" element="typens:scoreOggettoScoretagRemoveResponseParam" />
    </wsdl:message>

    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="scoreOggettoScoretagList">
            <wsdl:documentation>Retrieve list of scoretags by oggetto</wsdl:documentation>
            <wsdl:input message="typens:scoreOggettoScoretagListRequest" />
            <wsdl:output message="typens:scoreOggettoScoretagListResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="scoreOggettoScoretagInfo">
            <wsdl:documentation>Retrieve oggetto scoretag info</wsdl:documentation>
            <wsdl:input message="typens:scoreOggettoScoretagInfoRequest" />
            <wsdl:output message="typens:scoreOggettoScoretagInfoResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="scoreOggettoScoretagAdd">
            <wsdl:documentation>Add scoretag(s) to oggetto</wsdl:documentation>
            <wsdl:input message="typens:scoreOggettoScoretagAddRequest" />
            <wsdl:output message="typens:scoreOggettoScoretagAddResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="scoreOggettoScoretagUpdate">
            <wsdl:documentation>Update oggetto scoretag</wsdl:documentation>
            <wsdl:input message="typens:scoreOggettoScoretagUpdateRequest" />
            <wsdl:output message="typens:scoreOggettoScoretagUpdateResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="scoreOggettoScoretagRemove">
            <wsdl:documentation>Remove oggetto scoretag</wsdl:documentation>
            <wsdl:input message="typens:scoreOggettoScoretagRemoveRequest" />
            <wsdl:output message="typens:scoreOggettoScoretagRemoveResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="scoreOggettoScoretagList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="scoreOggettoScoretagInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="scoreOggettoScoretagAdd">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="scoreOggettoScoretagUpdate">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="scoreOggettoScoretagRemove">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
